@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 4%;
		--foreground: 47 75% 95%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 47 75% 95%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply h-full overflow-auto scroll-smooth selection:bg-primary/75 selection:text-primary-foreground;
	}
	body {
		@apply flex min-h-full flex-col bg-background font-body text-foreground;
	}
}

@layer components {
	.wrapper {
		max-width: calc(100vw - 3rem);
		margin: 0 auto;
		width: 100%;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}

	@screen md {
		.wrapper {
			max-width: 500px;
		}
	}
	@screen xl {
		.wrapper {
			max-width: 600px;
		}
	}

	.grid-container {
		@apply grid gap-x-4 md:gap-x-8;
		grid-template-columns:
			[full-start] 1fr [wrapper-start]
			minmax(0, 80rem) [wrapper-end] 1fr [full-end];
	}

	.grid-container > * {
		@apply col-start-[wrapper] col-end-[wrapper];
	}

	.grid-container > .container-fill {
		@apply col-start-[full] col-end-[full];
	}
}

@layer utilities {
	.text-stroke {
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: theme(colors.foreground);
	}
	@keyframes ScaleUp {
		from {
			scale: 0;
			opacity: 0;
		}
		to {
			scale: 1;
			opacity: 100;
		}
	}
}
